body {
  font-family: 'Monserrat', sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 3rem;
}

.navbar .nav-link {
  font-size: 0.87rem;
  margin-right: 0.87rem;
}

.navbar .nav-item .btn {
  padding: 0.2rem 1.5rem;
}

#showcase,
#features .container,
#reviews .container {
  background-color: #eff2f5;
}

.results__card-image {
  width: 80px;
}

.carousel__img {
  width: 50px;
  float: left;
  margin-right: 15px;
}
